header{
	background: linear-gradient(#FFFAFA, # FAEBD7);
}
ul{
	list-style: none;
	marin: 0;
	padding: 20px;
}
a{
	font-size: 40px;
	padding: 20px;
	color: #662d5b;
	text-decoration: none;
}
a:hover{
	color:rgb(234, 214, 241);
	text-decoration: none;
}
li{
	display: inline;
}
body{
	background-image: url(https://img.alicdn.com/imgextra/i1/6000000005725/O1CN01deUu0v1sA64Gzf5xR_!!6000000005725-0-tbvideo.jpg);

}
p{
	text-align: left;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #65376a;
}
h1{
font-family: 'Playfair Display', serif;
color: #0c4c58;
}
.text{
	float: right;
}
p1{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	letter-spacing: 1px;
	color:#65376a ;
}
p2{
font-size: 20px;
letter-spacing: 2px;
font-family: 'Oswald', sans-serif;
color:rgb(46, 83, 53);
line-height: 3;
text-align: left;
}
p3
{
	text-align: right;
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 2,5;
	color: #4b5586;
font-family: 'Sixtyfour', sans-serif;
  direction: rtl;
  unicode-bidi: bidi-override;
}
p4{
	text-align: left;
	color: rgb(151, 61, 67);
	font-family: 'Cute Font', sans-serif;
text-decoration: line-through;
font-size: 24px;
line-height: 3;

}
div{
	background: #66a0b7;
   border: 5px solid #f2b6f8 ;
   width: 40%;
   height: 200px;
   margin: 0px 0px 0px 0px;
   padding: 10px;
}
.first-text{
	background:#b5eca0;
   border: 15px solid #d7a0ec ;
   width: 70%;
   height: 400px;
   margin: 0px 0px 0px 0px;
   padding: 20px;
}
.second-text{
	background:#dfa4b8;
   border: 5px solid #a4dfcb;
   width: 70%;
   height: 500px;
   margin: 0px 0px 0px 0px;
   padding: 20px;
}
.tru-text{
	background:#8c96d5;
   border: 10px solid #d5cb8c;
   width: 70%;
   height: 700px;
   margin: 40px 40px 40px 40px;
   padding: 10px;
}